/*================================================
------------------MEDIA QUERIES-------------------
================================================*/
/*====================================================
----------------------MIXINS--------------------------
=====================================================*/
@font-face {
  font-family: "agency-reg";
  src: url(../public/fonts/AGENCYR.TTF);
}

@font-face {
  font-family: "agency-bold";
  src: url(../public/fonts/AGENCYB.TTF);
}

@font-face {
  font-family: "century-gothicbold";
  src: url(../public/fonts/GOTHICB.TTF);
}

@font-face {
  font-family: "century-gothic";
  src: url(../public/fonts/GOTHIC.TTF);
}

@font-face {
  font-family: "engravers-gothic";
  src: url(../public/fonts/EngraversGothicBT.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*Equivalent to 10px*/
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  overflow-x: hidden;
}

footer {
  width: 100%;
  height: 15rem;
  padding: 0 2rem;
  font-family: "engravers-gothic", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  background-color: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(../public/images/Audi-R8-Green.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media only screen and (min-width: 1824px) {
  .hero {
    background-position: top;
  }
}

hr {
  width: 70%;
  height: 0.2rem;
  margin: 4rem auto 1rem;
  background-color: #080808;
}

.header {
  width: 100%;
  height: auto;
  font-family: "century-gothicbold", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
}

.header .main-title {
  width: 100%;
  height: auto;
  padding: 2rem 2rem 2rem 3rem;
  font-size: 4rem;
  letter-spacing: 1.5rem;
  word-spacing: 0.5rem;
  -webkit-text-stroke: 0.2rem #11db91;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 620px) {
  .header .main-title {
    padding: 4rem 2rem 4rem 3rem;
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .header .main-title {
    padding-left: 4rem;
    font-size: 6rem;
  }
}

@media only screen and (min-width: 1024px) {
  .header .main-title {
    font-size: 7rem;
  }
}

@media only screen and (min-width: 1112px) {
  .header .main-title {
    font-size: 8rem;
  }
}

@media only screen and (min-width: 1366px) {
  .header .main-title {
    font-size: 10rem;
    word-spacing: 1rem;
  }
}

@media only screen and (min-width: 1824px) {
  .header .main-title {
    font-size: 12rem;
  }
}

.section-news {
  width: 100%;
  max-width: 130rem;
  height: 150rem;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.section-news .featured-title {
  width: 100%;
  font-size: 3rem;
  letter-spacing: 1rem;
  word-spacing: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0.2rem 0.2rem 0.3rem #7c7979;
  font-family: "century-gothicbold", sans-serif;
}

.section-news .news-wrapper {
  width: 100%;
  height: 90%;
  padding-top: 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  filter: drop-shadow(0.2rem 0.2rem 0.5rem #7c7979);
  -webkit-filter: drop-shadow(0.2rem 0.2rem 0.5rem #7c7979);
  border: 1px dotted red;
}

.section-news .news-wrapper .news-box {
  width: 75%;
  height: calc(100% / 3);
  margin: 0.5rem 0;
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transform: skew(-40deg);
  -webkit-transform: skew(-40deg);
  -moz-transform: skew(-40deg);
  -ms-transform: skew(-40deg);
  -o-transform: skew(-40deg);
  border: 1px solid red;
}

.section-news .news-wrapper .news-box::after {
  content: "";
  width: 100%;
  height: 100%;
  transform: skew(40deg);
  -webkit-transform: skew(40deg);
  -moz-transform: skew(40deg);
  -ms-transform: skew(40deg);
  -o-transform: skew(40deg);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.section-news .news-wrapper .news-box:nth-child(1)::after {
  background: url("../../.././public/images/bmw-18-front.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-news .news-wrapper .news-box:nth-child(2)::after {
  background: url("../../.././public/images/Audi-R8-Orange.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-news .news-wrapper .news-box:nth-child(3)::after {
  background: url("../../.././public/images/Audi-R8-Greenfullback.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-news .news-wrapper .news-box .news-content {
  width: 100%;
  height: 100%;
  display: none;
  font-size: 2rem;
  overflow: hidden;
  position: relative;
  font-family: "century-gothic", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  transform: skew(40deg);
  -webkit-transform: skew(40deg);
  -moz-transform: skew(40deg);
  -ms-transform: skew(40deg);
  -o-transform: skew(40deg);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  z-index: 5;
}

.section-news .news-wrapper .news-box .news-content::after {
  content: "";
  width: 300%;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #080808;
  opacity: 0.7;
  z-index: -1;
}

.section-news .news-wrapper .news-box .news-content h3 {
  width: 33rem;
  height: 5rem;
  margin: 4rem auto 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.section-news .news-wrapper .news-box .news-content hr {
  width: 25rem;
  height: 0.2rem;
  margin: 1rem auto 2rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  background-color: #fff;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.section-news .news-wrapper .news-box .news-content p {
  width: 30rem;
  height: auto;
  margin: 1rem auto;
  font-size: 1.5rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.section-news .news-wrapper .news-box .news-content .content-link {
  width: 50%;
  height: 7rem;
  margin: 2rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.section-news .news-wrapper .news-box .news-content .content-link a:link,
.section-news .news-wrapper .news-box .news-content .content-link a:visited {
  color: #080808;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: #fff;
  font-family: "agency-bold", sans-serif;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.section-news .news-wrapper .news-box .news-content .content-link a:link:hover,
.section-news .news-wrapper .news-box .news-content .content-link a:visited:hover {
  background-color: #11db91;
  color: #080808;
}

.section-news .news-wrapper .news-box:hover {
  width: 200%;
}

.section-news .news-wrapper .news-box:hover > .news-content {
  display: block;
}

.section-news .news-wrapper .news-box:hover > .news-content > h3,
.section-news .news-wrapper .news-box p,
.section-news .news-wrapper .news-box hr,
.section-news .news-wrapper .news-box .content-link {
  animation: fadeRight 0.5s ease-in-out 0.1s forwards;
  -webkit-animation: fadeRight 0.5s ease-in-out 0.1s forwards;
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.section-social {
  width: 100%;
  height: 40rem;
  padding-top: 10rem;
}

.section-social .icon-title {
  width: 100%;
  height: 10rem;
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
  font-family: "century-gothic", sans-serif;
  color: #080808;
  text-shadow: 0.1rem 0.1rem 0.3rem #7c7979;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-social .icon-wrapper {
  width: 80%;
  height: 15rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-social .icon-wrapper .icons {
  width: 5rem;
  height: 5rem;
  margin: 0 1rem;
  background-color: #080808;
  box-shadow: 0rem 0.2rem 0.5rem #7c7979;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.section-social .icon-wrapper .icons:hover {
  box-shadow: 0rem 2rem 2rem #7c7979;
  transform: translateY(-15%);
  -webkit-transform: translateY(-15%);
  -moz-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  -o-transform: translateY(-15%);
}

.section-social .icon-wrapper .icons a:link,
.section-social .icon-wrapper .icons a:visited {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.section-social .icon-wrapper .icons a:link::after,
.section-social .icon-wrapper .icons a:visited::after {
  content: "";
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -80%;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transform: skew(-40deg);
  -webkit-transform: skew(-40deg);
  -moz-transform: skew(-40deg);
  -ms-transform: skew(-40deg);
  -o-transform: skew(-40deg);
  background-color: rgba(255, 255, 255, 0.658);
  box-shadow: 0.3rem 0.3rem 2rem #7c7979;
}

.section-social .icon-wrapper .icons a:link i,
.section-social .icon-wrapper .icons a:visited i {
  font-size: 4rem;
  color: #fff;
}

.section-social .icon-wrapper .icons a:link:hover::after,
.section-social .icon-wrapper .icons a:visited:hover::after {
  left: 150%;
}

.section-cars {
  width: 100%;
  max-width: 120rem;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.section-cars .car-container {
  width: 100%;
  height: 30rem;
  background-color: #fff;
  position: relative;
  position: sticky;
  position: -webkit-sticky;
  top: 10%;
  overflow-x: hidden;
}

@media only screen and (min-width: 1024px) {
  .section-cars .car-container {
    height: 40rem;
  }
}

@media only screen and (min-width: 1824px) {
  .section-cars .car-container {
    height: 50rem;
  }
}

.section-cars .car-container .title-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-cars .car-container .title-container .bg-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12rem;
  color: gainsboro;
  font-family: "century-gothicbold", sans-serif;
  letter-spacing: 1rem;
  z-index: -1;
}

@media only screen and (min-width: 620px) {
  .section-cars .car-container .title-container .bg-title {
    font-size: 14rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-cars .car-container .title-container .bg-title {
    font-size: 16rem;
  }
}

@media only screen and (min-width: 1024px) {
  .section-cars .car-container .title-container .bg-title {
    font-size: 20rem;
  }
}

@media only screen and (min-width: 1824px) {
  .section-cars .car-container .title-container .bg-title {
    font-size: 22rem;
  }
}

.section-cars .car-container .title-container .bg-title-mercedes,
.section-cars .car-container .title-container .bg-title-jaguar {
  font-size: 10rem;
}

@media only screen and (min-width: 620px) {
  .section-cars .car-container .title-container .bg-title-mercedes,
  .section-cars .car-container .title-container .bg-title-jaguar {
    font-size: 12rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-cars .car-container .title-container .bg-title-mercedes,
  .section-cars .car-container .title-container .bg-title-jaguar {
    font-size: 14rem;
  }
}

@media only screen and (min-width: 1024px) {
  .section-cars .car-container .title-container .bg-title-mercedes,
  .section-cars .car-container .title-container .bg-title-jaguar {
    font-size: 16rem;
  }
}

@media only screen and (min-width: 1824px) {
  .section-cars .car-container .title-container .bg-title-mercedes,
  .section-cars .car-container .title-container .bg-title-jaguar {
    font-size: 20rem;
  }
}

.section-cars .car-container .car-box {
  width: 100%;
  height: 80%;
  position: relative;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .section-cars .car-container .car-box {
    bottom: 5%;
  }
}

.section-cars .car-container .car-box .car-img-box {
  width: calc(100% / 2 - 1rem);
  height: auto;
}

@media only screen and (min-width: 768px) {
  .section-cars .car-container .car-box .car-img-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .section-cars .car-container .car-box .car-img-box {
    padding-top: 10rem;
  }
}

.section-cars .car-container .car-box .car-img-box .car-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (min-width: 768px) {
  .section-cars .car-container .car-box .car-img-box .car-img {
    width: 80%;
    height: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .section-cars .car-container .car-box .car-img-box .car-img {
    width: 70%;
  }
}

.section-cars .car-container .car-box .car-info-box {
  width: auto;
  height: auto;
  margin-right: 1rem;
  font-family: "agency-bold", sans-serif;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 0.1rem 0.1rem 0.3rem #7c7979;
}

@media only screen and (min-width: 620px) {
  .section-cars .car-container .car-box .car-info-box {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-cars .car-container .car-box .car-info-box {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 834px) {
  .section-cars .car-container .car-box .car-info-box {
    padding-bottom: 5rem;
  }
}

@media only screen and (min-width: 1824px) {
  .section-cars .car-container .car-box .car-info-box {
    font-size: 3rem;
  }
}

.section-cars .car-container .car-box .car-info-box .car-info-bottom {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 1024px) {
  .section-cars .car-container .car-box .car-info-box .car-info-bottom {
    margin-bottom: 1rem;
  }
}

.section-cars .car-container .car-box .car-info-box .car-info-btn {
  width: 12rem;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 480px) {
  .section-cars .car-container .car-box .car-info-box .car-info-btn {
    width: 14rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-cars .car-container .car-box .car-info-box .car-info-btn {
    width: 17rem;
  }
}

@media only screen and (min-width: 1824px) {
  .section-cars .car-container .car-box .car-info-box .car-info-btn {
    width: 20rem;
  }
}

.section-cars .car-container .car-box .car-info-box .car-info-btn::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: skew(-40deg);
  -webkit-transform: skew(-40deg);
  -moz-transform: skew(-40deg);
  -ms-transform: skew(-40deg);
  -o-transform: skew(-40deg);
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  z-index: -1;
}

.section-cars .car-container .car-box .car-info-box .car-info-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid #080808;
  position: absolute;
  top: 0;
  left: 0;
  transform: skew(-40deg);
  -webkit-transform: skew(-40deg);
  -moz-transform: skew(-40deg);
  -ms-transform: skew(-40deg);
  -o-transform: skew(-40deg);
  z-index: -1;
}

.section-cars .car-container .car-box .car-info-box .car-info-btn:hover::before {
  width: 100%;
  background-color: #080808;
  z-index: 1;
}

.section-cars .car-container .car-box .car-info-box .car-info-btn:hover > .btn:link,
.section-cars .car-container .car-box .car-info-box .car-info-btn .btn-visited {
  color: #fff;
}

.section-cars .car-container .car-box .car-info-box .car-info-btn .btn:link,
.section-cars .car-container .car-box .car-info-box .car-info-btn .btn:visited {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #080808;
  z-index: 3;
}

.section-video {
  width: 100%;
  height: 55rem;
  margin: 10rem auto;
  position: relative;
  overflow: hidden;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

.section-video .swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.section-video .swiper-container .swiper-wrapper {
  width: 100%;
}

.section-video .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}

.section-video .swiper-container .swiper-wrapper .swiper-slide::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #080808;
  opacity: 0.6;
}

.section-video .swiper-container .swiper-wrapper .swiper-slide .vid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container {
  width: 100%;
  max-width: 100rem;
  height: 80%;
  margin-top: 1rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

@media only screen and (min-width: 1024px) {
  .section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container {
    width: 55%;
  }
}

.section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-title,
.section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-info,
.section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-link {
  width: 100%;
}

.section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-title {
  height: 15%;
  font-size: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "century-gothicbold", sans-serif;
}

@media only screen and (min-width: 480px) {
  .section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-title {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-title {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-title {
    width: 80%;
    justify-content: flex-start;
    font-size: 2.5rem;
  }
}

.section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-info {
  width: 100%;
  height: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-info::after {
  content: "";
  width: 80%;
  height: 0.07rem;
  margin: 1rem auto;
  border: 0.1rem solid #fff;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-info p {
  padding: 0 2.5rem;
  font-family: "engravers-gothic", sans-serif;
  font-size: 1.75rem;
  text-align: justify;
  text-indent: 1.5rem;
}

@media only screen and (min-width: 480px) {
  .section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-info p {
    padding: 0 4rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-info p {
    padding: 0 5rem;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 834px) {
  .section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-info p {
    padding: 0 6rem;
  }
}

@media only screen and (min-width: 1366px) {
  .section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-info p {
    padding: 0 7rem;
  }
}

@media only screen and (min-width: 1824px) {
  .section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-info p {
    padding: 0 10rem;
  }
}

.section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-link {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-link {
    width: 80%;
    justify-content: flex-end;
  }
}

.section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-link a:link,
.section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-link a:visited {
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: "engravers-gothic", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: #080808;
  background-color: #fff;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-link a:link:hover,
.section-video .swiper-container .swiper-wrapper .swiper-slide .vid-content-container .vid-content-link a:visited:hover {
  color: #fff;
  background-color: #7c7979;
  transform: translateX(-7%);
  -webkit-transform: translateX(-7%);
  -moz-transform: translateX(-7%);
  -ms-transform: translateX(-7%);
  -o-transform: translateX(-7%);
}

.section-video .swiper-container .swiper-pagination {
  width: 100%;
  margin-bottom: 1rem;
}

.section-video .swiper-container .swiper-pagination .swiper-pagination-bullets {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .section-video .swiper-container .swiper-pagination .swiper-pagination-bullets {
    margin-bottom: 2rem;
  }
}

.section-video .swiper-container .swiper-pagination .swiper-pagination-bullets .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #11db91;
}

.section-video .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 5rem;
  height: 2rem;
  opacity: 1;
  background-color: transparent;
  border: 0.3rem solid #11db91;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

@media only screen and (min-width: 1024px) {
  .section-video .swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 8rem;
  }
}

.section-video .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #11db91;
}

.navbar {
  width: 60%;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: -100vw;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  position: fixed;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  z-index: 100;
}

.navbar .navbar-ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.navbar .navbar-ul .navbar-li {
  width: 100%;
  height: calc(100% / 4 - 10px);
  position: relative;
  list-style-type: none;
  background-color: #080808;
  opacity: 0.9;
  font-family: "engravers-gothic", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.navbar .navbar-ul .navbar-li::after {
  content: "";
  background-color: #080808;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: bottom left;
  transform: skew(-40deg, 0deg);
  -webkit-transform: skew(-40deg, 0deg);
  -moz-transform: skew(-40deg, 0deg);
  -ms-transform: skew(-40deg, 0deg);
  -o-transform: skew(-40deg, 0deg);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.navbar .navbar-ul .navbar-li:hover::after {
  background-color: #11db91;
  border: transparent;
}

.navbar .navbar-ul .navbar-li:hover {
  background-color: #11db91;
  opacity: 0.9;
  border: transparent;
}

.navbar .navbar-ul .navbar-li:hover > .navbar-links:link,
.navbar .navbar-ul .navbar-li .navbar-links:visited {
  color: #080808;
}

@media only screen and (min-width: 768px) {
  .navbar .navbar-ul .navbar-li:hover > .navbar-links:link,
  .navbar .navbar-ul .navbar-li .navbar-links:visited {
    font-weight: 900;
  }
}

.navbar .navbar-ul .navbar-li .navbar-links:link,
.navbar .navbar-ul .navbar-li .navbar-links:visited {
  text-decoration: none;
  color: #fff;
  font-size: 2.25rem;
  letter-spacing: 0.5rem;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .navbar .navbar-ul .navbar-li .navbar-links:link,
  .navbar .navbar-ul .navbar-li .navbar-links:visited {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1224px) {
  .navbar .navbar-ul .navbar-li .navbar-links:link,
  .navbar .navbar-ul .navbar-li .navbar-links:visited {
    font-size: 3.5rem;
  }
}

.navbar .navbar-ul .navbar-li .navbar-links:link:hover,
.navbar .navbar-ul .navbar-li .navbar-links:visited:hover {
  letter-spacing: 1rem;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.showNav {
  transform: translate(100vw, -50%);
  -webkit-transform: translate(100vw, -50%);
  -moz-transform: translate(100vw, -50%);
  -ms-transform: translate(100vw, -50%);
  -o-transform: translate(100vw, -50%);
}

.slideLeft-One {
  animation: slideIn 0.3s linear 0.05s both;
  -webkit-animation: slideIn 0.3s linear 0.1s both;
}

/*********/
.slideLeft-Two {
  animation: slideIn 0.3s linear 0.2s both;
  -webkit-animation: slideIn 0.3s linear 0.25s both;
}

/*********/
.slideLeft-Three {
  animation: slideIn 0.3s linear 0.4s both;
  -webkit-animation: slideIn 0.3s linear 0.4s both;
}

/*********/
.slideLeft-Four {
  animation: slideIn 0.3s linear 0.6s both;
  -webkit-animation: slideIn 0.3s linear 0.55s both;
}

@keyframes slideIn {
  0% {
    transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.burger {
  width: 6rem;
  height: 8rem;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  position: fixed;
  z-index: 90;
}

@media only screen and (min-width: 834px) {
  .burger {
    width: 8rem;
    height: 9rem;
  }
}

.burger .cheese {
  width: 7rem;
  height: 45%;
  position: relative;
  cursor: pointer;
}

.burger .cheese .top {
  width: 100%;
  height: 0.75rem;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #11db91;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  box-shadow: 0.3rem 0.3rem 2rem #7c7979;
  overflow: hidden;
}

@media only screen and (min-width: 834px) {
  .burger .cheese .top {
    height: 1rem;
  }
}

.burger .cheese .top::after {
  content: "";
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.658);
  animation: shineTop 1s linear infinite;
  -webkit-animation: shineTop 1s linear infinite;
}

.burger .cheese .meat {
  width: 100%;
  height: 0.75rem;
  background-color: #11db91;
  overflow: hidden;
  position: relative;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  box-shadow: 0.3rem 0.3rem 2rem #7c7979;
}

@media only screen and (min-width: 834px) {
  .burger .cheese .meat {
    height: 1rem;
  }
}

.burger .cheese .meat::after {
  content: "";
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.658);
  animation: shineTop 1s linear infinite 0.05s;
  -webkit-animation: shineTop 1s linear infinite 0.05s;
}

.burger .cheese .bottom {
  width: 100%;
  height: 0.75rem;
  position: relative;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: #11db91;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  box-shadow: 0.3rem 0.3rem 2rem #7c7979;
}

@media only screen and (min-width: 834px) {
  .burger .cheese .bottom {
    height: 1rem;
  }
}

.burger .cheese .bottom::after {
  content: "";
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.658);
  animation: shineTop 1s linear infinite 0.1s;
  -webkit-animation: shineTop 1s linear infinite 0.1s;
}

.burger .cheese .topbun-change {
  background-color: #11db91;
  top: 50%;
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
}

.burger .cheese .middle-change {
  opacity: 0;
}

.burger .cheese .bottombun-change {
  background-color: #11db91;
  top: 50%;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

@keyframes shineTop {
  0% {
    transform: translateX(-300%) skewX(-30deg);
    -webkit-transform: translateX(-300%) skewX(-30deg);
    -moz-transform: translateX(-300%) skewX(-30deg);
    -ms-transform: translateX(-300%) skewX(-30deg);
    -o-transform: translateX(-300%) skewX(-30deg);
  }
  100% {
    transform: translateX(300%) skewX(-30deg);
    -webkit-transform: translateX(300%) skewX(-30deg);
    -moz-transform: translateX(300%) skewX(-30deg);
    -ms-transform: translateX(300%) skewX(-30deg);
    -o-transform: translateX(300%) skewX(-30deg);
  }
}

.sticky {
  top: 0;
  left: 85%;
}

@media only screen and (min-width: 480px) {
  .sticky {
    left: 88%;
  }
}

@media only screen and (min-width: 620px) {
  .sticky {
    left: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .sticky {
    left: 92%;
  }
}

@media only screen and (min-width: 1024px) {
  .sticky {
    left: 94%;
  }
}

@media only screen and (min-width: 834px) {
  .sticky {
    left: 93%;
  }
}

@media only screen and (min-width: 1112px) {
  .sticky {
    top: 1%;
    left: 94%;
  }
}

@media only screen and (min-width: 1366px) {
  .sticky {
    top: 0;
    left: 95%;
  }
}
/*# sourceMappingURL=styles.css.map */