.burger {
  width: 10rem;
  height: 10rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  @include transformX;
  @include flex-center;
  @include transit3;
  position: fixed;
  z-index: 90;

  .cheese {
    width: 7rem;
    height: 45%;
    position: relative;
    cursor: pointer;

    .top {
      width: 100%;
      height: 1rem;
      position: relative;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #11db91;
      @include transit4;
      @include deep-shadow-gray;
      overflow: hidden;

      &::after {
        content: "";
        width: 20%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        background-color: rgba(255, 255, 255, 0.658);
        animation: shineTop 1s linear infinite;
        -webkit-animation: shineTop 1s linear infinite;
      }
    }

    .meat {
      width: 100%;
      height: 1rem;
      background-color: #11db91;
      overflow: hidden;
      position: relative;
      @include transit4;
      @include absol-center;
      @include deep-shadow-gray;

      &::after {
        content: "";
        width: 20%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        background-color: rgba(255, 255, 255, 0.658);
        animation: shineTop 1s linear infinite 0.05s;
        -webkit-animation: shineTop 1s linear infinite 0.05s;
      }
    }

    .bottom {
      width: 100%;
      height: 1rem;
      position: relative;
      position: absolute;
      bottom: 0;
      left: 0;
      overflow: hidden;
      background-color: #11db91;
      @include transit4;
      @include deep-shadow-gray;

      &::after {
        content: "";
        width: 20%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        background-color: rgba(255, 255, 255, 0.658);
        animation: shineTop 1s linear infinite 0.1s;
        -webkit-animation: shineTop 1s linear infinite 0.1s;
      }
    }

    //**** JS CLICK EVENTS ****

    .topbun-change {
      background-color: $color-green;
      top: 50%;
      transform: rotate(-225deg);
      -webkit-transform: rotate(-225deg);
      -moz-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
      -o-transform: rotate(-225deg);
    }

    .middle-change {
      opacity: 0;
    }

    .bottombun-change {
      background-color: $color-green;
      top: 50%;
      transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      -o-transform: rotate(225deg);
    }
  }
}

//***** KEYFRAMES FOR BURGER SHINE ANIMATION *****

@keyframes shineTop {
  0% {
    transform: translateX(-300%) skewX(-30deg);
    -webkit-transform: translateX(-300%) skewX(-30deg);
    -moz-transform: translateX(-300%) skewX(-30deg);
    -ms-transform: translateX(-300%) skewX(-30deg);
    -o-transform: translateX(-300%) skewX(-30deg);
  }

  100% {
    transform: translateX(300%) skewX(-30deg);
    -webkit-transform: translateX(300%) skewX(-30deg);
    -moz-transform: translateX(300%) skewX(-30deg);
    -ms-transform: translateX(300%) skewX(-30deg);
    -o-transform: translateX(300%) skewX(-30deg);
  }
}

//**** STICKY BURGER AFTER SCROLL ****

.sticky {
  top: 0;
  left: 83%;
}
