.header {
  width: 100%;
  height: auto;
  font-family: $centurybold-font;
  @include absol-topLeftZero;
  @include flex-center;

  .main-title {
    width: 100%;
    height: auto;
    padding: 2rem;
    font-size: 4rem;
    letter-spacing: 1.5rem;
    word-spacing: 0.5rem;
    -webkit-text-stroke: 0.15rem $color-green;
    -webkit-text-fill-color: transparent;
  }
}
