.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(../public/images/Audi-R8-Green.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @include largeDesktop {
    & {
      background-position: top;
    }
  }
}
