.section-news {
  width: 100%;
  max-width: 130rem;
  height: 150rem;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;

  .featured-title {
    width: 100%;
    //   height: 5rem;
    font-size: 3rem;
    letter-spacing: 1rem;
    word-spacing: 2rem;
    @include flex-center;
    @include text-shadowgray;
    font-family: $tertiary-font;
  }

  .news-wrapper {
    width: 100%;
    height: 90%;
    padding-top: 10rem;
    position: relative;
    @include flex-center-col;
    background-color: transparent;
    filter: drop-shadow(0.2rem 0.2rem 0.5rem $color-gray-lite);
    -webkit-filter: drop-shadow(0.2rem 0.2rem 0.5rem $color-gray-lite);
    border: 1px dotted red;

    .news-box {
      width: 75%;
      height: calc(100% / 3);
      margin: 0.5rem 0;
      color: $color-lite;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      @include flex-center;
      @include transit3;
      @include skew-full;
      border: 1px solid red;

      &::after {
        content: "";
        @include keep-it-hundo;
        @include normal-skew;
        @include transit3;
      }

      &:nth-child(1)::after {
        background: url("../../.././public/images/bmw-18-front.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &:nth-child(2)::after {
        background: url("../../.././public/images/Audi-R8-Orange.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &:nth-child(3)::after {
        background: url("../../.././public/images/Audi-R8-Greenfullback.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .news-content {
        @include keep-it-hundo;
        display: none;
        font-size: 2rem;
        overflow: hidden;
        position: relative;
        font-family: $secondary-font;
        @include absol-topLeftZero;
        @include normal-skew;
        @include transit3;
        z-index: 5;

        &::after {
          content: "";
          width: 300%;
          height: 300%;
          @include absol-center;
          background-color: $color-dark;
          opacity: 0.7;
          z-index: -1;
        }

        h3 {
          width: 33rem;
          height: 5rem;
          margin: 4rem auto 1rem;
          font-size: 2rem;
          @include flex-center;
          @include transit3;
          transform: scale(0);
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
        }

        hr {
          width: 25rem;
          height: 0.2rem;
          margin: 1rem auto 2rem;
          @include transit3;
          background-color: $color-lite;
          transform: scale(0);
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
        }

        p {
          width: 30rem;
          height: auto;
          margin: 1rem auto;
          font-size: 1.5rem;
          @include transit3;
          transform: scale(0);
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
        }

        .content-link {
          width: 50%;
          height: 7rem;
          margin: 2rem auto 0;
          @include flex-center;
          @include transit3;
          transform: scale(0);
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);

          a:link,
          a:visited {
            color: $color-dark;
            text-decoration: none;
            font-size: 2rem;
            padding: 1rem 2rem;
            background-color: $color-lite;
            font-family: $quinary-font;
            @include transit2;

            &:hover {
              background-color: $color-green;
              color: $color-dark;
            }
          }
        }
      }

      &:hover {
        width: 200%;
      }

      &:hover > .news-content {
        display: block;
      }

      &:hover > .news-content > h3,
      p,
      hr,
      .content-link {
        animation: fadeRight 0.5s ease-in-out 0.1s forwards;
        -webkit-animation: fadeRight 0.5s ease-in-out 0.1s forwards;
      }

      //*****KEYFRAMES FOR NEWS-CONTENT ANIMATION*****

      @keyframes fadeRight {
        0% {
          opacity: 0;
          transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          -moz-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
          -o-transform: translateX(-100%);
        }

        100% {
          opacity: 1;
          transform: translateX(0);
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
        }
      }
    }
  }
}
