.search-area {
  width: 100%;
  height: 8rem;
  position: relative;
  position: absolute;
  bottom: -2%;
  background: transparent;
  overflow: hidden;

  @include tabletLandscape {
    & {
      height: 10rem;
    }
  }

  &::after {
    content: "";
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -20%;
    border: none;
    background-color: $color-lite;
    @include skew-full;
  }
}
