.section-social {
  width: 100%;
  height: 40rem;
  padding-top: 10rem;

  .icon-title {
    width: 100%;
    height: 10rem;
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
    font-family: $secondary-font;
    color: $color-dark;
    @include text-shadowgray-lite;
    @include flex-center;

    @include tabletPortrait {
      & {
        font-size: 3rem;
      }
    }

    @include desktop {
      & {
        font-size: 4rem;
      }
    }
  }

  .icon-wrapper {
    width: 80%;
    height: 15rem;
    margin: 0 auto;
    @include flex-center;

    .icons {
      width: 5rem;
      height: 5rem;
      margin: 0 1rem;
      background-color: $color-dark;
      @include deep-shadow-graylite;
      @include transit3;

      @include tabletPortrait {
        & {
          width: 6rem;
          height: 6rem;
          margin: 0 1.5rem;
        }
      }

      &:hover {
        box-shadow: 0rem 2rem 2rem $color-gray-lite;
        transform: translateY(-15%);
        -webkit-transform: translateY(-15%);
        -moz-transform: translateY(-15%);
        -ms-transform: translateY(-15%);
        -o-transform: translateY(-15%);
      }

      a:link,
      a:visited {
        position: relative;
        text-decoration: none;
        overflow: hidden;
        @include keep-it-hundo;
        @include flex-center;
        @include transit3;

        &::after {
          content: "";
          width: 40%;
          height: 100%;
          position: absolute;
          top: 0;
          left: -80%;
          @include transit3;
          @include skew-full;
          background-color: $color-gray-opacity;
          @include deep-shadow-gray;
        }

        i {
          font-size: 4rem;
          color: $color-lite;

          @include tabletPortrait {
            & {
              font-size: 5rem;
            }
          }
        }

        &:hover::after {
          left: 150%;
        }
      }
    }
  }
}
