$primary-font: "engravers-gothic", sans-serif;
$secondary-font: "century-gothic", sans-serif;
$tertiary-font: "century-gothicbold", sans-serif;
$quaternary-font: "agency-reg", sans-serif;
$quinary-font: "agency-bold", sans-serif;
